@model Flashcards.Models.Card

@{
    ViewData["Title"] = "Display_Cards";
}

<form asp-action="Display_Cards">
    
    <select asp-for="Category" asp-items="ViewBag.CateroryList">
        <option value="">Select a Category</option>
    </select>
    <button type="submit">Submit</button>
</form>

<div class="flashcard-container">
    @if (ViewBag.FilteredCards == null)
    {
        <p>No cards found for the selected category or no category selected.</p>
    }
    else
    {
        @foreach (var card in ViewBag.FilteredCards)
        {
            <div class="flashcard">
                <div class="front">
                    <p>@card.Question</p>
                    <code>@card.Code</code>
                </div>
                <div class="back">
                    <p>@card.Answer</p>
                </div>
            </div>
        }
    }
</div>