@model Flashcards.Models.Card

@{
    ViewData["Title"] = "Flashcards";
}

<form method="post">
    <select asp-for="Category" asp-items="ViewBag.categoryList">
        <option value="">Select a Category</option>
    </select>
    <button type="submit">Submit</button>
</form>

<div class="flashcard-container">
    @foreach (var card in ViewBag.FilteredCards)
    {
        <div class="flashcard">
            <div class="front">
                <p>@card.question</p>
            </div>
            <div class="back">
                <p>@card.Answer</p>
            </div>
        </div>
    }
</div>
