html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

nav {
  background: linear-gradient(to right, #fe9595, #c9d6ff);
}

.nav-link {
  border-radius: 14px;
}

.nav-link:hover {
  transition: 0.5s;
  background-color: #512da8;
  color: #FFFFFF;
}